<a href="https://colab.research.google.com/github/xlmriosx/data-projects/blob/main/how_working_install_Spark_Standalone_cluster_with_Notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üåüüìù Basic commands to work with Spark in Notebooks like a Standalone cluster

---

## üîóRelated content 
### You can find post related in: 
üë®‚Äçüíª[DEV](https://) 

### You can find video related in:
üì∫[YouTube](https://youtu.be/KxNzlGv1cKQ) 

### You can find repo related in:
üê±‚Äçüèç[GitHub](https://github.com/xlmriosx/How-working-install-Spark-with-Notebooks) 

### You can connect with me in:
üß¨[LinkedIn](https://www.linkedin.com/in/xlmriosx/) 

---

### Resume üßæ

I will install Spark program and will use a library of Python to write a job that answer the question, how many row exists by each rating?

Before start we setup environment to run Spark Standalone Cluster.

---

### 1st - Mount Google Drive üö†

We will mount Google Drive to can use it files.


I use following script:

```
from google.colab import drive
drive.mount('/content/gdrive')
```

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

---

### 2nd - Install Spark üéá

Later got a Colab notebook up, to get Spark running you have to run the following script (I apologize for how ugly it is).

I use following script:

```
%%bash
apt-get install openjdk-8-jdk-headless -qq > /dev/null 
if [[ ! -d spark-3.3.1-bin-hadoop3.tgz ]]; then
  echo "Spark hasn't been installed, Downloading and installing!"
  wget -q https://downloads.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
  tar xf spark-3.3.1-bin-hadoop3.tgz
  rm -f spark-3.3.1-bin-hadoop3.tgz

fi
pip install -q findspark
```

In [ ]:
%%bash
apt-get install openjdk-8-jdk-headless -qq > /dev/null
if [[ ! -d spark-3.3.1-bin-hadoop3.tgz ]]; then
  echo "Spark hasn't been installed. So was downloaded and installed!"
  wget -q https://downloads.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
  tar xf spark-3.3.1-bin-hadoop3.tgz
  rm -f spark-3.3.1-bin-hadoop3.tgz

fi
pip install -q findspark

Spark hasn't been installed. So was downloaded and installed!

You would can get other version if you need in: https://downloads.apache.org/spark/ and later replace it in the before command.

---

### 3rd - Setting environment variables üåê

I use following command:
```
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"  
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"
import findspark
findspark.init()
```

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"  
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"
import findspark
findspark.init()

---

### 4th - Configuring a SparkSession üö™

I use following command:
```
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \ # set up like master using all(*) threads
    .appName("BLOG_XLMRIOSX") \ # a generic name
    .getOrCreate()
sc = spark.sparkContext
sc
```

Later of execute this we can use many data strcuture to manage data, like RDD and Dataframe(Spark and Pandas).
Exists one more but only exists in Scala and it is Dataset.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("BLOG_XLMRIOSX") \
    .getOrCreate()
sc = spark.sparkContext
sc

---

### 5th - Getting a dataset to anlyze with Spark üíæ

I use a dataset from grouplens. You can get other in:
http://files.grouplens.org/datasets/

This time I use movieslens and you can download it using:

`!wget http://files.grouplens.org/datasets/movielens/ml-100k.zip`

In [ ]:
!wget http://files.grouplens.org/datasets/movielens/ml-100k.zip

--2023-01-10 22:44:39--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‚Äòml-100k.zip‚Äô

ml-100k.zip         100%[===================>]   4.70M  8.70MB/s    in 0.5s

2023-01-10 22:44:40 (8.70 MB/s) - ‚Äòml-100k.zip‚Äô saved [4924029/4924029]


To use data extract files. I extract files in path later of -d in command:

`!unzip "/content/ml-100k.zip" -d "/content/ml-100k_folder"`

In [ ]:
!unzip "/content/ml-100k.zip" -d "/content/ml-100k_folder"

Archive:  /content/ml-100k.zip
   creating: /content/ml-100k_folder/ml-100k/
  inflating: /content/ml-100k_folder/ml-100k/allbut.pl
  inflating: /content/ml-100k_folder/ml-100k/mku.sh
  inflating: /content/ml-100k_folder/ml-100k/README
  inflating: /content/ml-100k_folder/ml-100k/u.data
  inflating: /content/ml-100k_folder/ml-100k/u.genre
  inflating: /content/ml-100k_folder/ml-100k/u.info
  inflating: /content/ml-100k_folder/ml-100k/u.item
  inflating: /content/ml-100k_folder/ml-100k/u.occupation
  inflating: /content/ml-100k_folder/ml-100k/u.user
  inflating: /content/ml-100k_folder/ml-100k/u1.base
  inflating: /content/ml-100k_folder/ml-100k/u1.test
  inflating: /content/ml-100k_folder/ml-100k/u2.base
  inflating: /content/ml-100k_folder/ml-100k/u2.test
  inflating: /content/ml-100k_folder/ml-100k/u3.base
  inflating: /content/ml-100k_folder/ml-100k/u3.test
  inflating: /content/ml-100k_folder/ml-100k/u4.base
  inflating: /content/ml-100k_folder/ml-100k/u4.test
  inflating: /content/ml-100k_folder/ml-100k/u5.base
  inflating: /content/ml-100k_folder/ml-100k/u5.test
  inflating: /content/ml-100k_folder/ml-100k/ua.base
  inflating: /content/ml-100k_folder/ml-100k/ua.test
  inflating: /content/ml-100k_folder/ml-100k/ub.base
  inflating: /content/ml-100k_folder/ml-100k/ub.test

In [ ]:
!head /content/ml-100k_folder/ml-100k/u.data -n 5

196	242	3	881250949
186	302	3	891717742
22	377	1	878887116
244	51	2	880606923
166	346	1	886397596

---

### 6th - Configuring data to analyze üíø

We create a variable called data where put path where data is like:

`data = '/content/ml-100k_folder/ml-100k/u.data'`

Later define a variable called df_spark where put information of data:

`df_spark = spark.read.csv(data, inferSchema=True, header=True)`

In [ ]:
data = '/content/ml-100k_folder/ml-100k/u.data'
df_spark = spark.read.csv(data, inferSchema=True, header=True)

We can inspect type of variable df_spark like:

`print(type(df_spark))`

In [ ]:
print(type(df_spark))

<class 'pyspark.sql.dataframe.DataFrame'>

We can inspect data frame of variable df_spark like:

`df_spark.show()`

In [ ]:
df_spark.show()

+----------------------+
|196\t242\t3\t881250949|
+----------------------+
|  186\t302\t3\t8917...|
|  22\t377\t1\t87888...|
|  244\t51\t2\t88060...|
|  166\t346\t1\t8863...|
|  298\t474\t4\t8841...|
|  115\t265\t2\t8811...|
|  253\t465\t5\t8916...|
|  305\t451\t3\t8863...|
|   6\t86\t3\t883603013|
|  62\t257\t2\t87937...|
|  286\t1014\t5\t879...|
|  200\t222\t5\t8760...|
|  210\t40\t3\t89103...|
|  224\t29\t3\t88810...|
|  303\t785\t3\t8794...|
|  122\t387\t5\t8792...|
|  194\t274\t2\t8795...|
|  291\t1042\t4\t874...|
|  234\t1184\t2\t892...|
|  119\t392\t4\t8861...|
+----------------------+
only showing top 20 rows

We can see format is incorrect so we will fix that where we configure format of data by following way:

`df_spark = spark.read.csv(data, inferSchema=True, header=False, sep="\t")`

In [ ]:
df_spark = spark.read.csv(data, inferSchema=True, header=False, sep="\t")

In [ ]:
df_spark.show()

+---+----+---+---------+
|_c0| _c1|_c2|      _c3|
+---+----+---+---------+
|196| 242|  3|881250949|
|186| 302|  3|891717742|
| 22| 377|  1|878887116|
|244|  51|  2|880606923|
|166| 346|  1|886397596|
|298| 474|  4|884182806|
|115| 265|  2|881171488|
|253| 465|  5|891628467|
|305| 451|  3|886324817|
|  6|  86|  3|883603013|
| 62| 257|  2|879372434|
|286|1014|  5|879781125|
|200| 222|  5|876042340|
|210|  40|  3|891035994|
|224|  29|  3|888104457|
|303| 785|  3|879485318|
|122| 387|  5|879270459|
|194| 274|  2|879539794|
|291|1042|  4|874834944|
|234|1184|  2|892079237|
+---+----+---+---------+
only showing top 20 rows

---

### 7th - Making a query üôà

To make this we need know format of data, so I infer the following structure:

- First column reference to userID.
- Second column reference to movieID.
- Third column reference to rating.
- Fourth column reference to timestamp.

I will answer the question, how many movies by each rating exists...

---

#### 7.1. - Making a query with SQL syntax ‚ùîüõ¢

- First, create a table with dataframe.

`df_spark.createOrReplaceTempView("table")`

In [ ]:
df_spark.createOrReplaceTempView("table")

- Second, can make query to answer question.

`sql = spark.sql("SELECT _c2, COUNT(*) FROM table GROUP BY _c2")`

To see results:

`sql.show()`

In [ ]:
sql = spark.sql("SELECT _c2, COUNT(*) FROM table GROUP BY _c2")
sql.show()

+---+--------+
|_c2|count(1)|
+---+--------+
|  1|    6110|
|  3|   27145|
|  5|   21201|
|  4|   34174|
|  2|   11370|
+---+--------+

---

#### 7.2. - Making a query with Dataframe ‚ùîüìÑ

- It's so easy make this query with dataframe.

`dataframe.groupBy("_c2").count().show()`

In [ ]:
dataframe = df_spark

In [ ]:
dataframe.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)

In [ ]:
dataframe.groupBy("_c2").count().show()

+---+-----+
|_c2|count|
+---+-----+
|  1| 6110|
|  3|27145|
|  5|21201|
|  4|34174|
|  2|11370|
+---+-----+

---

#### 7.3. - Making a query with RDD ‚ùîüßä

- First, we transform dataframe to rdd type.

`rdd = df_spark.rdd`

In [ ]:
rdd = df_spark.rdd

- Second, make query with RDD functions.

```
rdd\
.groupBy(lambda x: x[2])\
.mapValues(lambda values: len(set(values)))\
.collect()
```

In [ ]:
rdd\
.groupBy(lambda x: x[2])\
.mapValues(lambda values: len(set(values)))\
.collect()

[(3, 27145), (1, 6110), (2, 11370), (4, 34174), (5, 21201)]

---

### 8th - Say thanks, give like and share if this has been of help/interest üòÅüññ

---

## üîóRelated content 
### You can find post related in: 
üë®‚Äçüíª[DEV](https://) 

### You can find video related in:
üì∫[YouTube](https://youtu.be/KxNzlGv1cKQ) 

### You can find repo related in:
üê±‚Äçüèç[GitHub](https://github.com/xlmriosx/How-working-install-Spark-with-Notebooks) 

### You can connect with me in:
üß¨[LinkedIn](https://www.linkedin.com/in/xlmriosx/) 


---